data/PD.csv
data/HEHE.csv
data/DEMOGRAPHICS.csv
data/DEMOGRAPHICS_ALL.csv
data/DRUG_EXPOSURE.csv
data/TRY.csv
data/DIAGNOSIS_DATE.csv
data/CD.csv
data/BLEEE.csv
data/VISIT_OCCURRENCE.csv
data/VISIT_OCCURRENCE_INPATIENT_HOSPITAL.csv
data/VISIT_OCCURRENCE_OUTPATIENT_VISIT.csv